<!DOCTYPE html>
<html lang="en-US">
  <head>
    <style>body{font-family:sans-serif}</style>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ meta_description }}"/>
    <meta name="keywords" content="{{ meta_keywords }}"/>
    <meta property="og:title" content="{{ meta_title }}">
    <meta property="og:description" content="{{ meta_description }}">
    <meta property="og:image" content="/images/icon.png">
    <meta property="og:site_name" content="Awesome_E's Hopscotch Website">
    <style media="print">
      * {-webkit-transition:none!important;transition:none!important;}
      .highlight table td {padding:5px;}
      .highlight table pre {margin:0;}
      .highlight,.highlight .w{color:#586e75;}
      img{max-width:100%;}
      a{text-decoration:none;color:#191D1F}
    </style>
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-config" content="/icons/browserconfig.xml">
    <meta name="theme-color" content="#000000">
    <link href="/lib/slate/screen.css" rel="stylesheet" media="screen">
    <link href="/lib/slate/print.css" rel="stylesheet" media="print">
    <script src="/lib/slate/docs.js"></script>
    <style>
      .cm-qualifier{color:#eee!important}
      .cm-punctuation,.cm-unit,.cm-negative{color:#e09142!important}
      .cm-string{color:#ffa852!important}
      .cm-positive{color:#6a51e6!important}
      .cm-def{color:#eee!important}
      .cm-variable{color:#fb4!important}
      .cm-variable-2,.cm-variable-3,.cm-string-2,.cm-url{color:#6a51e6!important}
      .cm-tag{color:#eee!important}
      .cm-bracket,/*.cm-comment,*/ .CodeMirror{color:#20b2aa!important}
      .cm-string{color:#ffc0cb!important}
      .cm-atom{color:#fafad2!important}
      .cm-number{color:#0ff!important}
      .cm-property{color:#add8e6!important}
      .cm-keyword,.cm-operator,.cm-attribute{color:#ff4ade!important}
      .hljs-attr{color:#caf3ec}
      .hljs-keyword,.hljs-variable.language_{color:#95cff5}
      .hljs-literal{color:#fafad2}
      .hljs-meta{color:#ff4ade!important}
      .hljs-number{color:#0ff}
      .hljs-operator{color:#eee}
      .hljs-positive{color:#6a51e6}
      .hljs-punctuation{color:#20b2aa}
      .hljs-qualifier{color:#eee}
      .hljs-string{color:#ffc0cb}
      .hljs-symbol{color:#fb4}
      .hljs-tag{color:#eee}
      .hljs-title.function_{color:#f4f7aa}
      .hljs-unit,.hljs-negative{color:#e09142}
      .hljs-url{color:#6a51e6}
      .toc-link,.toc-footer li{transition-property:background, color;}
      .toc-wrapper .toc-link.active {background-color:#1b5b62;}
      .content pre.highlight {position:relative;}
      .highlight::before {content:' ';position:absolute;top:33px;right:29px;background-color:inherit;width:58px;height:50px;transform:translate(50%,-50%)}
      .copy-clipboard {position:absolute;top:24px;right:24px;}
      .content pre {padding:0;overflow:hidden;position:relative;}
      .content pre > :is(code, div:not(.copy-clipboard)) {padding:2em 28px;overflow:auto;}
      .content pre.highlight > :is(code, div:not(.copy-clipboard)) {padding-right:68px;}
      .content pre > code {display:block;overflow:auto;width:100%;box-sizing:border-box;color:#20b2aa;}
      a{color:#3b6072}
      #nav-button {padding: 0 1.5em 1.5em 0}
    </style>
    <style media="(prefers-color-scheme: dark)">
      html,body{color:#949390;background-color:black}
      body img{opacity:.67}
      #nav-button span{background-color:rgba(25,25,25,0.7);color:#ddd}
      .toc-wrapper{background-color:#111}
      .toc-wrapper .toc-link.active{background-color:#083d41}
      .toc-link,.toc-footer li{color:#ababab;}
      .toc-wrapper .toc-link.active-parent,.toc-wrapper .toc-footer li,.toc-wrapper .toc-footer a{color:#c5c5c5}
      .page-wrapper{background-color:black}
      .content h1{border-top-color:#1e2120;border-bottom-color:#1e2120;background-color:black}
      .content h2{border-top-color:#1e2120;background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0))}
      .content aside.warning{background-color:#3e1414}
      .content aside{background-color:#122b36}
      .content aside.success{background-color:#1a3220}
      .content table tr:nth-child(2n+1)>td,.content table tr:nth-child(2n+1)>th,.content table tr:last-child{background-color:black;border-bottom-color:#1e2120}
      .page-wrapper .dark-box{background-color:#111}
      .content pre,.content blockquote,.content blockquote>p{background-color:#060606;color:#aaa}
    </style>
  </head>
  <body class="index">
    <a href="#" id="nav-button"><span>III</span></a>
    <div class="toc-wrapper">
      <a href="/"><img src="{{ docs_logo }}" class="logo" alt="logo"></a>
      <div class="lang-selector">
        {{#each languageSelection}}
          <a href="#" data-language-name="{{this}}">{{this}}</a>
        {{/each}}
      </div>
      <div class="search">
      <input type="text" class="search" id="input-search" placeholder="Search">
      </div>
      <ul class="search-results"></ul>
      <ul id="toc" class="toc-list-h1">
        <!-- AUTO-GENERATED NAVIGATION -->
        {{{ navigation }}}
      </ul>
      <ul class="toc-footer">
        <li><a href="https://github.com/slatedocs/slate">Documentation Powered by Slate</a></li>
        <li><a href="/">Back to Site Homepage</a></li>
      </ul>
    </div>
    <div class="page-wrapper">
      <div class="dark-box">
        <div class="lang-selector">
          {{#each languageSelection}}
            <a href="#" data-language-name="{{this}}">{{this}}</a>
          {{/each}}
        </div>
      </div>
      <div id="content" class="content">
      <!-- Written in Markdown, HTML Generated Using MarkedJS -->
      {{{ content }}}
      <!-- END MARKDOWN CONTENT -->
      </div>
    </div>
    <script>$(function() { setupCodeCopy(); setupLanguages([...document.querySelectorAll('.lang-selector > a')].map(e => e.innerText)); });</script>
  </body>
</html>
